{% extends 'layout/main.twig' %}

{% block pageContent %}
    <body class="register">
    {% include 'layout/parts/menubar.twig' %}
    <!-- page content -->
    <div class="content-header title">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">Add your ticket here by filling in this form</h4>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action="{{ action }}" method="post" novalidate="" enctype="multipart/form-data">
                    <div class="row">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Ticket name</label>
                                <input type="text" id="ticketname" name="ticketName" placeholder="Enter name" value="{{ ticket_name }}">
                                {% if errorName %}
                                    <div class="error-message">{{ errorName }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Ticket price</label>
                                <input type="number" min="0" class="form-control scroll" id="ticketprice" name="ticketPrice" placeholder="€50.00" value="{{ ticket_price }}">
                                {% if errorPrice %}
                                    <div class="error-message">{{ errorPrice }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Amount of tickets</label>
                                <input type="number" min="0" class="form-control scroll" id="Amount" name="amount" placeholder="3" value="{{ amount }}">
                                {% if errorAmount %}
                                    <div class="error-message">{{ errorAmount }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Reason for selling</label>
                                <input type="text" class="form-control" id="reason" name="reasonForSell" value="{{ reason_for_sell }}">
                                {% if errorReason %}
                                    <div class="error-message">{{ errorReason }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Upload your ticket in pdf</label>
                                <input type="file" name="ticketFile" id="ticketFile">
                                {% if errorFile %}
                                    <div class="error-message">{{ errorFile }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-4 col-sm-4 form-group has-feedback">
                                <label for="event">Event</label>
                                <select class="form-control" id="eventName" name="events">
                                    <option value="0">Choose event</option>
                                    {% for eventName in events %}
                                        <option value="{{ eventName['event_id'] }}" {% if eventId == eventName['event_id'] %} selected{% endif %}>{{ eventName['event_name'] }}</option>
                                    {% endfor %}
                                </select>
                                {% if errorEvents %}
                                    <div class="error-message">{{ errorEvents }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="form-group">
                        <button type="submit" value="Register event" id="btnRegister" name="btnRegister" class="primary">Add ticket(s)</button>
                    </div>
                </form>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.row -->
    </section>
    <script>
        document.addEventListener("wheel", function(event) {
            if (document.activeElement.type === "number" && document.activeElement.classList.contains("noscroll")) {
                document.activeElement.blur();
            }
        });
    </script>
    <!-- /page content -->
{% endblock %}