{% extends 'layout/main.twig' %}

{% block pageContent %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Add company</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="" action="{{action}}" method="post" novalidate="">
                                <div class="field item form-group bad">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Name<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" name="name" value="{{name}}" placeholder="ex. Your Company" required="required">
                                    </div>
                                    {% if not msgName %}
                                    <div class="red p-2">{{msgName}}</div>
                                    {% endif %}
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Address<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" name="address" value="{{address}}" placeholder="Address" required="required">
                                    </div>
                                    {% if not msgAddress %}
                                    <div class="red p-2">{{msgAddress}}</div>
                                    {% endif %}
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align">City<span class="required">*</span></label>
                                    <div class="col-md-2 col-sm-2">
                                        <input class="form-control" type="number" name="zip"  value="{{zip}}" placeholder="Zip" required="required">
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <input class="form-control" name="city" value="{{city}}" placeholder="City" required="required">
                                    </div>
                                    {% if not msgZipCity %}
                                    <div class="red p-2">{{msgZipCity}}</div>
                                    {% endif %}
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">VAT number<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" name="vat" value="{{vat}}" placeholder="VAT" required="required">
                                    </div>
                                    {% if not msgVAT %}
                                    <div class="red p-2">{{msgVAT}}</div>
                                    {% endif %}
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Activity<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" name="Activity" value="{{activity}}" placeholder="Activity" type="text">
                                    </div>
                                    {% if not msgActivity %}
                                    <div class="red p-2">{{msgActivity}}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type="submit" value="Save company" id="btnSubmit" name="btnSubmit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}