{% extends 'layout/main.twig' %}

{% block pageContent %}
    <body>
    {% include 'layout/parts/menubar.twig' %}

    <!-- page content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    <h2>Checkout - Ticket #{{ ticket.getTicketId() }} - {{ ticket.getTicketName() }}</h2>
                    <div class="row">
                        <div class="col-50">
                            <div class="container">
                                {% if allowed %}
                                <form action="/events/ticket/{{ ticket.getTicketId() }}/purchase" method="post">
                                    <div class="row">
                                        <div class="col-50">
                                            <h3>Payment</h3>
                                            <label>Accepted Cards</label>
                                            <div class="icon-container">
                                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                                            </div>
                                            <label for="cname">Name on Card</label>
                                            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                                            <label for="ccnum">Credit card number</label>
                                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                                            <label for="expmonth">Exp Month</label>
                                            <input type="text" id="expmonth" name="expmonth" placeholder="September">
                                            <div class="row">
                                                <div class="col-50">
                                                    <label for="expyear">Exp Year</label>
                                                    <input type="text" id="expyear" name="expyear" placeholder="2018">
                                                </div>
                                                <div class="col-50">
                                                    <label for="cvv">CVV</label>
                                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="submit" value="Purchase ticket" class="btn primary">
                                    </div>
                                </form>
                                {% else %}
                                    <div class="notAllowed">
                                        <p>You are not allowed to purchase the ticket. You are the owner of this ticket</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if allowed %}
                        <div class="col-50">
                            <div class="container">
                                <h3>Ticket information <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h3>

                                <dl>
                                    <dt>{{ ticket.getTicketName() }}</dt>
                                    <dd>Ticket #{{ ticket.getTicketId() }}</dd>
                                    <dd>Ticket price: <a style="font-weight: bold;">€{{ ticket.getTicketPrice() }}</a></dd>
                                    {% if discountAmount %}
                                    <dd>Ticket price after discount: €{{ discountAmount }}</dd>
                                    {% endif %}
                                    <dd>Amount of tickets: {{ ticket.getAmount() }}</dd>
                                </dl>

                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.container-fluid -->
    <!-- /page content -->
{% endblock %}