{% extends 'layout/main.twig' %}

{% block pageContent %}
    <!-- page content -->
    <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Contact info</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{{ contact.getName() }}</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <dl>
                                    <?php ?>
                                    <dt>Name</dt>
                                    <dd>{{ contact.getName() }}</dd>

                                    <dt>Email</dt>
                                    <dd>{{ contact.getEmail() }}</dd>

                                    <dt>VAT</dt>
                                    <dd>{{ contact.getClient() }}</dd>

                                    <dt>Phone</dt>
                                    <dd>{{ contact.getPhone() }}</dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /page content -->
{% endblock %}