{% extends 'layout/main.twig' %}

{% block pageContent %}
    <body>
    {% include 'layout/parts/menubar.twig' %}
    <!-- page content -->

    <section class="content">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    <div class="list-group eventsBox">
                        <div class="eventlist">
                            <h2>{{ eventName }} events list</h2>
                            <p>Below is a list of tickets that are for sale, click on the button to find more information about the ticket.</p>
                        </div>
                        {% for tickets in tickets %}
                            <div class="list-group-item" style="padding-left: 100px;">
                                <div class="row">
                                    <div class="col px-4 event-content">
                                        <h3>{{ tickets.getTicketName() }}</h3>
                                        <p>Ticket price: €{{ tickets.getAmount() }}</p>
                                        <p>Amount of tickets: {{ tickets.getAmount() }}</p>
                                        <p>Reason for sell: {{ tickets.getReasonForSell() }}</p>
                                    </div>
                                    <div class="col px-4 viewbutton">
                                        <div class="float-right" style="position: absolute; right: 10px; bottom: 0;">
                                            <a href="ticket-info.php" style="color: white; text-decoration: none;" class="button primary">View event tickets</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /page content -->
{% endblock %}