{% extends 'layout/main.twig' %}

{% block pageContent %}
    <body>
    {% include 'layout/parts/menubar.twig' %}
    <!-- page content -->
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>Ticketswapper</h1>
            <p>It sucks when an event is sold out right? Get your second chance here! Find the event you want to go to and see if you can find a ticket to still have the time of your life! You can also try to sell your ticket(s) if you can't go due to a specific reason.</p>
        </div>
        <!--<video autoplay loop muted playsinline src="images/ezgif.com-video-to-gif.gif"></video>-->
    </section>

    <section class="register-content">
            <header class="special">
                <h2>Get coupons</h2>
                <p>Register an account or simply login to have the chance to buy tickets cheaper. You will get a coupon code if you make an account. If you invite 3 friends who each make an account with your code, you will get a 5 euros discount. If you invite 10 friends who each make an account with your code, you get a coupon for 10 euros!</p>
                <div class="inner">
                <ul class="buttons-register">
                    <li><a href="/register" class="button primary buttons">Register account</a></li>
                    <li><a href="/login" class="button primary buttons">Login</a></li>
                </ul>
                </div>
            </header>
    </section>
    
    <section class="content">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    <div class="list-group eventsBox">
                        <div class="eventlist" id="events">
                            <h2>Events list</h2>
                            <p>Choose an event to buy or sell tickets. Is the event you're searching for not there? Go to register event and add yours!</p>
                        </div>
                         <div class="list-group-item col px-4">
                            <form action="" method="GET" class="form-label-left input_mask">
                            <div class="input-group input-group-sm float-right" style="width: 200px;">
                                <input type="text" value="{{ searchTerm }}" name="searchEvents" style="height: auto;" class="form-control float-right" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="button primary fit small icon fa-search"></button>
                                </div>
                            </div>
                            </form>
                        </div>
                        {% for event in events %}
                        <div class="list-group-item" style="padding-left: 100px;">
                            <div class="row">
                                <div class="col px-4 event-content">
                                        <h3>{{ event.getEventName() }}</h3>
                                        <p>Ticket price: €{{ event.getStandardPrice() }}</p>
                                        <p>Location: {{ event.getLocation() }}</p>
                                        <p>Start date: {{ event.getStartDate() }}</p>
                                        <p>End date: {{ event.getEndDate() }}</p>
                                        <p class="boldtext">Description:</p>
                                        <p>{{ event.getDescription() }}</p>
                                        <p class="boldtext">Artists:</p>
                                        <p>{{ event.getArtists() }}</p>
                                </div>
                                <div class="col px-4 viewbutton">
                                    <div class="float-right" style="position: absolute; right: 10px; bottom: 0;">
                                        <a href="/overview/{{ event.getSlug() }}/tickets" style="color: white; text-decoration: none;" class="button primary">View event tickets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <section id="cta" class="wrapper">
                <div class="inner">
                    <h2>What do we do?</h2>
                    <p>We all know the feeling when you see the 'SOLD OUT' screen on your laptop or phone. You tried to buy a ticket with several computers and still didn't make it. We made an application that will give you a second chance.
                    On this site you can find tickets from people who can't make it to the event. You can make an account and try to buy their ticket so you can still it and have the time of your life!
                        Are you the person who can't make it to the event? We got you! Make an account and fill in the form. Then your ticket(s) will be available for sale. We give you a chance to get your money back, because we know how expensive some events can be!</p>
                </div>
            </section>

            <!-- Highlights -->
            <section class="wrapper">
                <div class="inner">
                    <header class="special">
                        <h2>How does it work?</h2>
                        <p>If you don't know how this website works, follow the steps given below!</p>
                    </header>
                    <div class="highlights">
                        <section>
                            <div class="content">
                                <header>
                                    <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                                    <h3>Search event</h3>
                                </header>
                                <p>You need tickets for a certain event? Search the event in our events list. Is it not there? Use the navigation to go to register event. Fill in the form and your event will be added to our list!</p>
                            </div>
                        </section>
                        <section>
                            <div class="content">
                                <header>
                                    <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                                    <h3>Sell your ticket</h3>
                                </header>
                                <p>If you can't make the event due to a specific reason, you can sell your ticket. Use the navigation to go to add ticket. Select the event and fill in the form and your ticket will be added to the ticket list from that certain event!</p>
                            </div>
                        </section>
                        <section>
                            <div class="content">
                                <header>
                                    <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                                    <h3>Buy a ticket</h3>
                                </header>
                                <p>Use the search bar to search the event you need. If you found the event you can click on view event tickets and you will see all the info of the event. You will see a list of all the available tickets. Choose the ticket you want and you will be redirected to the checkout page where you can buy and download the ticket.</p>
                            </div>
                        </section>
                        <section>
                            <div class="content">
                                <header>
                                    <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                                    <h3>Make an account</h3>
                                </header>
                                <p>Go to register account to make a new account. This will give you the option to get certain coupons on tickets. If you invite 3 friends who each make an account, you will get a 5 euros discount. If you invite 10 friends who each make an account, you get a coupon of 10 euros!</p>
                            </div>
                        </section>
                        <section>
                            <div class="content">
                                <header>
                                    <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                                    <h3>Contact us</h3>
                                </header>
                                <p>If there is a problem feel free to send us an email. Go to contact and fill in the form. We will answer as soon as possible!</p>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /page content -->
{% endblock %}