{% extends 'layout/main.twig' %}

{% block pageContent %}
    <!-- page content -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Ticketswapper</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="#">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tickets</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title">Name</th>
                                    <th class="column-title">Standard ticket price</th>
                                    <th class="column-title">Start date</th>
                                    <th class="column-title">End date</th>
                                    <th class="column-title">Location</th>
                                    <th class="column-title">Description</th>
                                    <th class="column-title">Artists</th>
                                    <th class="column-title no-link last">View</th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if events %}
                                {% for event in events %}
                                    <tr class="{% if loop.index0 % 2 == 0 %}even{% else %}odd{% endif %} pointer">
                                        <td class=" ">{{ event.getEventName() }}</td>
                                        <td class=" ">€{{ event.getStandardPrice() }}</td>
                                        <td class=" ">{{ event.getStartDate() }}</td>
                                        <td class=" ">{{ event.getEndDate() }}</td>
                                        <td class=" ">{{ event.getLocation() }}</td>
                                        <td class=" ">{{ event.getDescription() }}</td>
                                        <td class=" ">{{ event.getDescription() }}</td>
                                        <td class=" last"><a href="event-info.php?id=">View</a></td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <tr class="pointer">
                                        <td class=" ">No events where found</td>
                                        <td class=" "></td>
                                        <td class=" "></td>
                                        <td class=" "></td>
                                        <td class=" "></td>
                                        <td class=" "></td>
                                        <td class=" "></td>
                                        <td class=" last"></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /page content -->
{% endblock %}